body {  
    background-color: #0a0a0a ;
    color: rgb(252, 250, 250);
}
article {
     color:greenyellow; 
}
nav>ul>li>a {
    text-decoration:underline ;
    color:greenyellow;
 }

 .resaltado {
    color: rgb(255, 251, 0);
}
.Titulo1{ 
    text-align: center;
    font-size: 3rem;
}
article{ 
    padding: 1.3rem;
    border-bottom: 1px, solid, white;
  
}
.ilustracion{ 
    border:greenyellow 4px solid;
    display: inline-block;
    


}
#titulo_del_blog{text-align: center; font-size: 3rem;}

nav>ul>li {
    list-style: none;
    text-decoration: none;
}  

nav>ul {
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-bottom: 1px solid #fff ;
    padding-bottom: 0.5rem;
}  


/* grid */
section {
    
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* apunta sólo a los header que son hijos directos de section */
section>header {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

section>main {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 8;
}

section>aside {
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 4;
}

section>footer{
    /* esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

aside > h2{
    justify-content: center;
    font-size: 1.3;
}

aside > div{
background-color: rgb(44,43,43);
}

article header hgroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#footer_blog {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-left: 0rem;
    padding-right:0rem ;
    front-size
}

/* Termina grid */
#footer_blog div:nth-child(2) {
    front: size 0.9rem;
}

/* Selecciona todas las imágenes que vivan dentro de un div que a su vez vive dentro de aside */
aside div img {
    /* la imagen tendrá color de fondo blanco */
    background-color: #fff;
    /* habrá un espacio entre el borde y el contenido de 0.5rem */
    padding: 0.5rem;
    /* redondea el borde para que sea un círculo */
    border-radius: 50%;
}